
<!-- EMPLOYEE FOOTER -->
<div class="container-fluid footer gradient-bg-rev">
    <div class="row ">
        <div class="d-flex col-md-6 justify-content-center footer-phone ">
            <i class="fas fa-phone-alt"></i>&nbsp;Employee Service: +86 10 8765 4321
        </div>
        <div class="d-flex col-md-6 justify-content-center">
            <ul class="d-flex p-0">
                <li><a href="#">Employee contract</a></li>
                <li><a href="#">IT Service Desk</a></li>
            </ul>
        </div>
        <div class="d-flex col-12 justify-content-center "><small>© Copyright Molveno Lake Resort 2020 - Employee Portal</small></div>
    </div>
</div>

<!--Date format plugin: -->
<script src="/js/plugins/jquery-dateFormat.js" charset="utf-8"></script>
<!--Datatable plugin: -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


<!--Project JS files: -->
<script src="/js/index.js" charset="utf-8"></script>
<script src="/js/roomCreate.js" charset="utf-8"></script>
<script src="/js/roomList.js" charset="utf-8"></script>
<script src="/js/guests.js" charset="utf-8"></script>
<script src="/js/bookings.js" charset="utf-8"></script>


</body>
</html>