{{>admin/header-admin}}

<div class="container admin-index">

    <p><a href="/admin/rooms/rooms">Rooms</a></p>
    <p><a href="/admin/guests/guests">Guests</a></p>
    <p><a href="/admin/bookings/bookings">Current bookings</a></p>

</div>

{{>admin/footer-admin}}