{{>admin/header-admin}}

<div class="container admin-index">
    <h4 class="mb-5"><u>Portal Index</u></h4>

    <p><a href="/admin/rooms/rooms">Rooms</a></p>
    <p><a href="/admin/guests/guests">Guests</a></p>
    <p><a href="/admin/bookings/bookings">Current bookings</a></p>

</div>

{{>admin/footer-admin}}