# Default ignored files
/workspace.xml
/.idea
*.class
*.iml
/target/
sonarlint/
/MolvenoLakeResort.iml
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.core.resources.prefs
/.project
/.classpath
