<head>
    <meta charset="UTF-8">
    <title>Molveno Lake Resort</title>

    <!-- Fonts    -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,800,900|Ubuntu:400,500,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheets    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/theme-cupertino/jquery-ui.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/rooms.css">

    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">

    <!-- Bootstrap & JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="index.js" defer></script>

</head>
<body>

<!--NAVBAR -->
<div class="container-fluid gradient-bg sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light col-lg-10 m-auto">
        <a class="navbar-brand h1" tabindex="-1" href="/"><img class="pr-3" src="/img/Company%20Logo_small.png" height="70px">Molveno Lake Resort</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item">
                    <a class="nav-link" href="/public/rooms/room-overview" tabindex="1">Rooms</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/" tabindex="3">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="4">Restaurant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="2">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="5">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="6"><span class="navbar-login">Login</span></a>
                </li>
                <li class="nav-item nav-flags flex-lg-column">
                    <div class="flag-div"><a class="nav-flag" href="#" tabindex="-1"><img class="flag" src="/img/flaguk.png" alt="English"></a></div>
                    <div class="flag-div"><a class="nav-flag" href="#" tabindex="-1"><img class="flag" src="/img/flagzh.png" alt="Chinese"></a></div>
                </li>
            </ul>
        </div>
    </nav>
</div>


<!--ROOM STOCK PHOTO -->
<div class="index-picture">
    <img class="stockhotel img-fluid" src="/img/roomstock.jpg" alt="">
</div>

<!-- INPUT SECTION -->
<div class="input-section" >
    <form>

        <div class="row input-row mx-auto">
            <div class="form-group col-sm-6">
                <input type="text" id="formCheckInDate" class="datepicker" tabindex="-1" name="formCheckInDate" placeholder="dd-MM-yyyy" required>
<!--                <input type="date" class="date-input form-control mb-2 mr-sm-2" id="check-in" name="check-in" placeholder="">-->
            </div>
            <div class="form-group col-sm-6">
                <input type="text" id="formCheckOutDate" class="datepicker" tabindex="-1" name="formCheckOutDate" placeholder="dd-MM-yyyy" required>
<!--                <input type="date" class="date-input form-control mb-2 mr-sm-2" id="check-out" name="check-out" placeholder="">-->
            </div>
            <div class="form-group">
                <input type="number" tabindex="-1" class="number-input form-control mb-2 mr-sm-2" id="" name="noOfVacations" value="0" min="0">
            </div>
            <div class="form-group">
                <input type="number" tabindex="-1" class="number-input form-control mb-2 mr-sm-2" id="" name="incomePerYearInUSD" value="0" min="0">
            </div>
        </div>

        <div class="row form-inline">

            <div class="form-group">
                <input type="number" tabindex="-1" class="number-input form-control mb-2 mr-sm-2" id="" name="noOfAdults" value="1" min="0">
            </div>
            <div class="form-group">
                <input type="number" tabindex="-1" class="number-input form-control mb-2 mr-sm-2" id="" name="noOfChildren" value="0" min="0">
            </div>
            <div class="form-group">
                <select id="userGender" name="userGender" class="form-control mb-2 mr-sm-2">
                    <option hidden disabled selected value> -- Kies uw geslacht -- </option>
                    <option value="Man">Man</option>
                    <option value="Vrouw">Vrouw</option>
                    <option value="Anders">Anders</option>
                    <option value="Wil-ik-niet-zeggen">Wil ik niet zeggen</option>
                </select>
            </div>

            <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" tabindex="-1" type="checkbox" id="disabled">
            </div>
        </div>

    </form>
    <button id="findRooms" tabindex="-1" class="btn btn-primary mb-2">Find rooms!</button>
</div>


<!--PAGE CONTENT HERE -->


<div class="card-container">
    <div class="row">

        <!-- Single room -->
        <div class="col-md-6 col-xl-3 mx-0 d-flex align-items-stretch card-column justify-content-center">
            <div class="card shadow">
                <img src="../../img/roomsingle.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Single Room</h5>
                    <p><i class="fas fa fa-male"></i> &nbsp;&nbsp; <i class="fas fa-baby"></i></p>
                    <p>Free Wi-Fi</p>
                    <p>Bath and shower</p>
                    <p class="available"><small>Available: <span id="singleRoomListSize"></span></small></p>
                    <p class="icon-row d-flex justify-content-between">
                        <span><i>¥849 per night</i>&nbsp;</span>
                        <span><button type="button" tabindex="-1" class="btn btn-primary add-room" id="single">+</button></span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Double room -->
        <div class="col-md-6 col-xl-3 mx-0  d-flex align-items-stretch card-column justify-content-center">
            <div class="card shadow">
                <img src="../../img/roomdouble.png" class="card-img-top" alt="Single Room">
                <div class="card-body">
                    <h5 class="card-title">Double Room</h5>
                    <p><i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> &nbsp;&nbsp; <i class="fas fa-baby"></i> <i class="fas fa-baby"></i></p>
                    <p>Airconditioning</p>
                    <p>Private safe</p>
                    <p class="available"><small>Available: <span id="doubleRoomListSize"></span></small></p>
                    <p class="icon-row d-flex justify-content-between">
                        <span><i>¥1199 per night</i>&nbsp;</span>
                        <span><button type="button" tabindex="-1" class="btn btn-primary add-room" id="double">+</button></span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Family room -->
        <div class="col-md-6 col-xl-3 mx-0 d-flex align-items-stretch card-column justify-content-center">
            <div class="card shadow">
                <img src="../../img/roomfamily.png" class="card-img-top" alt="Single Room">
                <div class="card-body">
                    <h5 class="card-title">Family Room</h5>
                    <p><i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> &nbsp;&nbsp; <i class="fas fa-baby"></i> <i class="fas fa-baby"></i></p>
                    <p>Sonos Sound System</p>
                    <p>Television</p>
                    <p class="available"><small>Available: <span id="familyRoomListSize"></span></small></p>
                    <p class="icon-row d-flex justify-content-between">
                        <span><i>¥1649 per night</i> &nbsp;</span>
                        <span><button type="button" tabindex="-1" class="btn btn-primary add-room" id="family">+</button></span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Penthouse -->
        <div class="col-md-6 col-xl-3 mx-0 d-flex align-items-stretch card-column justify-content-center">
            <div class="card shadow">
                <img src="../../img/roompenthouse.png" class="card-img-top" alt="Single Room">
                <div class="card-body">
                    <h5 class="card-title">Penthouse</h5>
                    <p><i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> &nbsp;&nbsp; <i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> <i class="fas fa fa-male"></i> &nbsp;&nbsp; <i class="fas fa-baby"></i> <i class="fas fa-baby"></i></p>
                    <p>Minibar</p>
                    <p>Ultimate luxury</p>
                    <p class="available"><small>Available: <span id="penthouseRoomListSize"></span></small></p>
                    <p class="icon-row d-flex justify-content-between">
                        <span><i>¥2399 per night</i>&nbsp;</span>
                        <span><button type="button" tabindex="-1" class="btn btn-primary add-room" id="penthouse">+</button></span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div>
    <ul id="selectedRoomList">

    </ul>
</div>

<div>
    <button id="newBookingButton" tabindex="-1" class="btn btn-success btn-lg my-5">Book selected rooms!</button>
</div>




<!-- WARNING MODAL -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalLabel">Warning</h5>
                <button type="button" tabindex="-1" class="close booking-close-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="warningModalBody">

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" tabindex="-1" class="btn btn-secondary booking-close-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>




{{>footer}}