/* INPUT FORM */

.input-section {
    margin: 4rem 0;
}

.input-row {
	width: 50vw;
}

.form-inline {
    width: 80vw;
	justify-content: center;
	margin: 0 auto 1rem;
}

.form-group {
	justify-content: center;
}

.form-check {
	margin-left: 1rem;
}

.number-input {
	margin: auto;
	width: auto;
}

#check-in,
#check-out {
    /*width: 190px;*/
}

#adults,
#children {
    width: 55px;
}

/* ROOM CARDS */
.card-container {
	max-width: 75vw;
	margin: auto;
}

.card-column {
	margin-bottom: 4rem;
}

h5 {
	font-weight: 500;
}

p {
	margin: 1rem 0 0;
}

.available {
	text-align: right;
	margin: 2rem 0 0;
}

.icon-row {
	margin-top: 0.5rem;
}

.btn-primary {
	background-color: /* #309bcf; */ #FFFFFF;  /* /* Changed button color to white */
	border-color: #309bcf;
}

.add-room {
	font-size: 1.5rem;
	padding-top: 0;
	padding-bottom: 0;
}
.btn-primary:hover {
	background-color: #006ead;
	border-color: #006ead;
}

.fas {
	font-size: 1.5rem;
}

.fa-baby {
	font-size: 1.4rem;
}

@media screen and (max-width: 1500px) {
	.card-container {
		max-width: 90vw;
	}
}
@media screen and (max-width: 1200px) {
	.card-container {
		max-width: 70vw;
	}
}
@media screen and (max-width: 576px) {
	.form-inline {
	    width: 95vw;
	}
}


/* ROOM BOOKING INFO */

.book-room-row {
    width: 90vw;
    padding: 5rem 0;
}