
<!-- FOOTER -->
<div class="container-fluid footer gradient-bg-rev">
    <div class="row ">
        <div class="d-flex col-md-6 justify-content-center footer-phone ">
            <i class="fas fa-phone-alt"></i>&nbsp; +86 10 1234 5678
        </div>
        <div class="d-flex col-md-6 justify-content-center">
            <ul class="d-flex p-0">
                <li><a href="#" tabindex="-1">Privacy</a></li>
                <li><a href="#" tabindex="-1">Terms</a></li>
                <li><a href="#" tabindex="-1">Contact</a></li>
            </ul>
        </div>
        <div class="d-flex col-12 justify-content-center "><small>© Copyright Molveno Lake Resort 2020</small></div>
    </div>
</div>


<!--Date format plugin: -->
<script src="/js/plugins/jquery-dateFormat.js" charset="utf-8"></script>

<script src="/js/index.js" charset="utf-8"></script>
<script src="/js/makeBooking.js" charset="utf-8"></script>

</body>
</html>