{{>header}}

<!--HOTEL STOCK PHOTO -->
<div class="index-picture">

    <div id="imageCarouseltop" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#imageCarouseltop" data-slide-to="0" class="active"></li>
            <li data-target="#imageCarouseltop" data-slide-to="1"></li>
            <li data-target="#imageCarouseltop" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100 mx-auto" src="img/indexhotel1.jpg" alt="First index slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100 mx-auto" src="img/indexhotel2.jpg" alt="Second index slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100 mx-auto" src="img/indexhotel3.jpg" alt="Third index slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#imageCarouseltop" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#imageCarouseltop" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--        <img class="stockhotel img-fluid" src="img/indexhotel1.jpg">-->
</div>

<!-- QUICK ROOM BOOKER -->
<!--
	<div class="container input-container">
        <div class="container">

            &lt;!&ndash; Calendar input left &ndash;&gt;
            <div class='col-md-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker6'>
                        <input type='text' class="form-control"/>
                            <span class="input-group-addon far fa-2x fa-calendar-alt">
                        </span>
                    </div>
                </div>
            </div>

            &lt;!&ndash; Calendar input right  &ndash;&gt;
            <div class='col-md-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker7'>
                        <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

<!-- HOME SECTIONS -->

<div class="home-content mx-auto">
    <div class="section-row row mx-auto">
        <div class="textcolumn my-auto col-md-8">
            <h4>Luxurious Rooms</h4>
            <p>Lorem ipsum dolor sit amet, <a class="a-and-tooltip" id="parent" href="#"> consectetur adipiscing elit <span id="popup" role="tooltip"> And this additional text
gives additional context on the this term</span></a>. Nullam faucibus pulvinar lacus eget finibus. Mauris nec lacus ac nisi fringilla viverra. Nulla eget nibh et magna placerat posuere. Donec feugiat nibh sit amet velit suscipit, id sagittis lorem consectetur. Duis lobortis augue vel eros tincidunt, vel dignissim tortor tempus. Sed sit amet porttitor dolor, venenatis malesuada tortor.</p>
        </div>
        <div class="imgcolumn ml-auto col-md-4">
            <div id="imageCarouselrooms" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators wide-indicators">
                    <li data-target="#imageCarouselrooms" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarouselrooms" data-slide-to="2"></li>
                    <li data-target="#imageCarouselrooms" data-slide-to="1"></li>
                    <li data-target="#imageCarouselrooms" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexroom1.png" alt="">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <p><small>Single Room</small></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexroom2.png" alt="">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <p><small>Double Room</small></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexroom3.png" alt="Family room slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <p><small>Family Room</small></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexroom4.png" alt="Penthouse room slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <p><small>Penthouse</small></p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev justify-content-start" href="#imageCarouselrooms" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next justify-content-end" href="#imageCarouselrooms" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <hr>


    <div class="section-row row mx-auto flex-md-row-reverse">
        <div class="textcolumn my-auto col-md-7">
            <h4>Star Restaurant</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et felis mi. Praesent dui tortor, placerat vel arcu at, volutpat condimentum urna. Nullam quis purus velit. Integer ornare eget diam bibendum tempus. Etiam viverra posuere nisi vitae tempor. Donec ultricies lorem libero, vel euismod erat blandit et. Fusce viverra, lorem ac sodales faucibus, nibh lacus suscipit elit, ac porta velit ante nec odio.</p>
        </div>
        <div class="col-md-1 divider"></div>
        <div class="imgcolumn ml-auto col-md-4">
            <div id="imageCarouselrestaurant" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators wide-indicators">
                    <li data-target="#imageCarouselrestaurant" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarouselrestaurant" data-slide-to="1"></li>
                    <li data-target="#imageCarouselrestaurant" data-slide-to="2"></li>
                    <li data-target="#imageCarouselrestaurant" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexrestaurant1.png" alt="">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexrestaurant2.png" alt="">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexrestaurant3.png" alt="Third restaurant slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexrestaurant4.png" alt="Fourth restaurant slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev justify-content-start" href="#imageCarouselrestaurant" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next justify-content-end" href="#imageCarouselrestaurant" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


    <hr>

    <div class="section-row row mx-auto">
        <div class="textcolumn my-auto col-md-8">
            <h4>Numerous Activities</h4>
            <p>Lorem ipsum dolor sit amet, consectetur ex eu euismod suscipit, mi lectus ut lorem. Etiam ac metus varius, aliquet ligula eget, feugiat nulla. Fusce dictum volutpat magna et hendrerit. Ut ornare varius tempus. Quisque tincidunt nunc laoreet eros varius vestibulum. Sed suscipit, nibh in molestie suscipit, urna felis euismod nisi, ac sagittis leo justo sit amet tortor. Mauris imperdiet risus ac interdum interdum.</p>
        </div>
        <div class="imgcolumn my-auto col-md-4">
            <div id="imageCarouselactivities" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators wide-indicators">
                    <li data-target="#imageCarouselactivities" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarouselactivities" data-slide-to="1"></li>
                    <li data-target="#imageCarouselactivities" data-slide-to="2"></li>
                    <li data-target="#imageCarouselactivities" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexactivities1.png" alt="">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <p><small>Wellness Spa</small></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexactivities2.png" alt="">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <p><small>Golf Court</small></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexactivities3.png" alt="Rooftop Bar slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <p><small>Rooftop Bar</small></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100 section-img mx-auto" src="img/indexactivities4.png" alt="Lake activities slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <p><small>Lake activities</small></p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev justify-content-start" href="#imageCarouselactivities" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next justify-content-end" href="#imageCarouselactivities" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

{{>footer}}